<h1>woah bud who the HECK are you</h1>

<form class="" action="/login" method="post">
  <input type="text" name="username" value="" placeholder="Username"/>
  <input type="password" name="password" value="" placeholder="Password"/>
  <input type="submit" value="Login"/>
</form>
